exportPattern("^[[:alpha:]]+")
import(parallel)
import(doParallel)
import(foreach)
import(readxl)
importFrom("grDevices", "dev.off", "pdf", "png", "svg")
importFrom("graphics", "points", "abline", "legend", "mtext", "text")
importFrom("stats", "aggregate", "cor", "median", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv", "write.table")